:root {
    --font-neue-machina: 'Neue Machina';
    --font-Euclid: 'Euclid Circular A';
    --font-base-weight: 400;
    --font-base-size: 13px;
    --font-primary-size: 16px;
    --font-secondary-size: 18px;
    --font-20-size: 20px;
    --font-primary-font-color: #273A41;
    --font-secondary-font-color: #00B3E8;

}


html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
}


@font-face {
    font-family: 'Euclid Circular A';
    src: url(./asset/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./asset/NeueMachina-Ultrabold.otf');
}

header {
    margin: 0 auto;
}

nav {
    max-width: 1396px;
    padding: 0 10px;
    margin: 31px auto 0 auto;
    display: flex;
    gap: 209.5px;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 201px;
    height: 24px;
}

.nav-items {
    display: flex;
    gap: 38px;
    width: 657px;
    height: 13px;

}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    /* color: #ffffffff; */


}

.desktop-btn {
    padding: 12px 16px;
    background: #ffffffff;
    border-radius: 6px;
    color: #01A590;

    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-style: Medium;
    font-size: var(--font-base-size);
    line-height: 16px;
    letter-spacing: 0%;
    border: none;
}


/* gamesta */
.gamesta-team-container {
    max-width: 1440px;
    margin: 0 auto;
}

.gamesta-team-container h1 {
    font-family: var(--font-neue-machina);
    font-weight: var(--font-base-weight);
    font-style: Medium;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0%;
    color:#273A41;
    text-align: right;
    max-width: 366px;
    padding-left: 33px;
    margin-bottom: 76px;
}

.gamesta-card-container{
    padding: 0 201px 0 133px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}

.gamesta-card-1{
    max-width: 377px;
    max-height: 483px;
    margin-bottom: 64px;
}

.gamesta-2{
    margin-top: -22%;
}

.gamesta-3{
    margin-left: 69px;
}



/* advisors */
.advise {
    /* background: linear-gradient(180deg, #F5F9FA 0%, rgba(245, 249, 250, 0) 100%); */
}

.advisors-container {
    max-width: 1440px;
    margin: 0 auto 62px auto;
    padding: 0 156px 0 132px;
}

.advisor-card-container {
    display: flex;
    gap: 56px;
}

.advisor-card {
    max-width: 246px;
    max-height: 405px;
}

.ad-h6 {
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #00B3E8;
    margin: 12px 0 0 0;
}

.ad-h5 {
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #9BA1A4;
    margin: 0;
}

.ad-p{
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #38484E;


}




/* partner */
.part {
    /* background: linear-gradient(180deg, #F5F9FA 0%, rgba(245, 249, 250, 0) 100%); */

}

.partner {
    max-width: 1440px;
    padding: 0 133px;
    margin: 0 auto;
}

.head-title {
    max-width: 294px;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-weight: bold;
    font-style: bold;
    font-style: Black;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: var(--font-primary-font-color);
    margin-bottom: 23px;

}

.partner-icon {
    /* display: flex; */
    /* gap: 32px; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 32px;
    row-gap: 20px;

}

.icon {
    width: 169px;
    height: 109px;
    border: 1px solid #EEF3F5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* footer */

footer {
    background: #273A41;
    height: 322px;
    clip-path: polygon(0 39%, 31% 24%, 32% 42%, 100% 0, 100% 0, 100% 15%, 100% 100%, 84% 100%, 85% 100%, 15% 100%, 15% 100%, 0 100%);

}

.footer-container {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 90px 0 46px;
}

.logo-copyright {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 196px;
    padding-bottom: 55px;
}

.logo-copyright img {
    width: 155px;
    height: 19px;
}

.logo-copyright p {
    width: 114px;
    height: 32px;

    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);

    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #ffffffff;
    margin: 0;
}

.f-content-container {
    display: flex;
    gap: 120px;
    padding-top: 178px;
    padding-bottom: 57px;
}

.f-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.f-content a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: var(--font-base-size);
    line-height: 100%;
    letter-spacing: 0%;
}

.f-icon-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 29px;
    padding-top: 178px;
    padding-bottom: 51px;
}

.f-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.f-icons p {
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: var(--font-base-size);
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.f-icons img {
    width: 24px;
    height: 24px;
}